# Telegram bot token (BotFather dan olingan)
BOT_TOKEN=8083948925:AAHR707Yv9Gw599utOHRg3Bmf6V00-A3pqA

# Django sayt manzili (bot post yuboradigan joy)
DJANGO_API_URL=http://127.0.0.1:8000

# Django .env dagi BOT_API_SECRET_KEY bilan bir xil bo'lishi kerak
BOT_API_SECRET_KEY=sizning_maxfiy_kalitingiz
